<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visitor_id %><br />
    <%= f.number_field :visitor_id %>
  </div>
  <div class="field">
    <%= f.label :full_path %><br />
    <%= f.text_area :full_path %>
  </div>
  <div class="field">
    <%= f.label :referrer %><br />
    <%= f.text_field :referrer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
